<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href='/index'>Boogie</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/clientes" class="nav-link">Eventos</a>
        </li>
        <li class="nav-item">
            <a href="/eventos" class="nav-link"><%= clientel.nome %></a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link">Sair</a>
        </li>
    </ul>
</nav>