<%- include('./partials/head.ejs') %>
<br>
<div class="container">
    <label class="col justify-content-center col-form-label col-form-label-lg">Bem vindo a Casa Noturna Boogie</label>
    <div class="card">
        <div class="card-body">
            <form id="form" method="POST" action="/login/entrar">
                <div class="form-floating mb-3">
                    <input type="text" minlength="14" name="cpf" class="form-control" id="cpf" placeholder="Login" required>
                    <label for="cpf">CPF</label>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary col-sm-2">Entrar</button>
                    <a href="/cadastro" class="btn btn-warning col-sm-2 offset-md-1">Cadastrar</a>
                    <a href="/loginFun" class="btn btn-danger col-sm-2 offset-md-1">Funcionário</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>