<%- include('../partials/head.ejs') %>
<%- include('../partials/menuCli.ejs') %>
<br>
<div class="container">
    <div class="card">
        <div class="card-head">Eventos</div>
        <div class="card-body">
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>